
h1 a, h2 a {
    color: #000;
    text-decoration: none;
}

h1 a:hover, h2 a:hover {
    color: #000;
    text-decoration: underline;
}

header {
    background: url(../img/CoffeeRing.png) no-repeat top right;
    height: 160px;
    padding-top: 40px;
}